# Core App Libraries
streamlit
opencv-python-headless==4.8.1.78

numpy
pillow
torch
Flask
python-dotenv

# Image and Video Processing
moviepy
scikit-image
imageio
imageio-ffmpeg
rembg
PyMatting

# Plotting and Visualization
matplotlib

# Utilities and Others
requests
tqdm
scipy
networkx

# Required for moviepy, scikit-image
attrs
decorator
lazy_loader
pooch
proglog
fonttools
kiwisolver
pyparsing
python-dateutil
six
tifffile
platformdirs
colorama
click

# JSON Handling
jsonschema
jsonschema-specifications
referencing
rpds-py

# Flask internal
Werkzeug
Jinja2
itsdangerous
MarkupSafe
blinker

# Compatibility
typing_extensions
importlib_metadata
importlib_resources
zipp

# SSL/Internet
certifi
charset-normalizer
idna
urllib3

# Special
numba
llvmlite
packaging
